body {
  color: white;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.65;
  margin: 0px 170px;
}

section p,
ul,
li,
li b,
label,
input[type="text"] {
  font-family: "Inter", sans-serif;
}

header img {
  width: 10em;
}

header {
  margin-top: 80px;
  margin-bottom: 90px;
}

/*Prima pagina HTML*/
h1 {
  line-height: 0.8;
  font-size: 5em;
  margin-bottom: 0.3em;
}

h1 span {
  font-weight: 350;
  color: white;
}
#spesso {
  font-weight: bolder;
}

h3 {
  font-size: 1.7em;
  color: #d20094;
  margin-top: 0;
  margin-bottom: 0;
}

#paragrafo1 {
  width: 55%;
  margin-bottom: 50px;
}

#paragrafo1 p {
  margin-top: 0;
}

p {
  font-size: 1em;
  line-height: 1.2em;
}

ul {
  margin-bottom: 100px;
}

ul li {
  font-size: 1em;
}

#checkbox {
  margin-bottom: 120px;
}

label {
  font-size: 1em;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  color: black;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  float: right;
  cursor: pointer;
}
.disabled {
  background-color: rgba(128, 128, 128, 0.423);
  text-transform: uppercase;
  width: 10em;
  font-weight: bold;
  padding: 18px 45px;
  color: rgba(0, 0, 0, 0.455);
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  right: -386px;
}
.bottone {
  text-transform: uppercase;
  width: 10em;
  font-weight: bold;
  padding: 18px 45px;
  background-color: #00ffff;
  color: black;
  border: none;
  box-shadow: 0px 0px 30px #00ffff;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  right: -386px;
}
 
/* CSS PAGINA 2*/

#main2 {
  text-align: center;
}

.btn {
  width: 400px;
  height: 80px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid white;
  background-color: transparent;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

#btnDue {
  width: 400px;
  height: 80px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid white;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

#domande {
  font-size: 60px;
  margin-bottom: 30px;
}

.selezionato {
  background-color: rgb(220, 1, 220);
}

span {
  color: #d20094;
}

h4 {
  margin-top: 50px;
}

/*PROVA TIMER*/

.countdown-container {
  text-align: right;
  margin-top: 50px;
}

.progressbar {
  position: relative;
}

.progressbar-circle {
  fill: transparent;
  stroke: rgb(247,  242,  242,  0.2);
  stroke-width:  20;
  
  transform: rotate(-90deg);
  transform-origin: center;
}

.progressbar-progress {
  fill: none;
  stroke: #00ffff;
  stroke-width:  20;
  stroke-dasharray:  502;
  stroke-dashoffset:  502;
  transition: stroke-dashoffset  1s ease;
  
  transform: rotate(-90deg);
  transform-origin: center;
}


.progressbar-text {
  font-size: 50px;
  font-weight: 600;
  fill: white;
  font-family: Arial, sans-serif;
}

#headerDue {
  margin-bottom: 0;
}


/*pagina 3*/
#stilepagina3{
  color: white;
  
}
.titolo3{
  text-align: center;
  margin-bottom: 100px;
}
#bottone3{
  text-align: center;
  margin-right: 800px;
  margin-top: 400px;
}
 
/* PAGINA 4 */

#paginaQuattro {
  text-align: center;
}

#paginaQuattro h1 {
  color: #e7e7eb;
  font-size: 60px;
}
#paginaQuattro h2 {
  font-weight: 400;
  width: 26em;
  margin: 0 auto;
}
#headerQuattro {
  margin-top: 80px;
  margin-bottom: 100px;
}

#headerQuattro img {
  width: 10em;
}

#paginaQuattro span {
  text-transform: uppercase;
  color: white;
}

#paginaQuattro input {
  width: 43em;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #d20094;
  margin-bottom: 3rem;
  font-size: 1rem;
}

#stelle {
  margin-bottom: 3rem;
  margin-top: 1em;
}

#Invia {
  position: static;
}

.chart-container{
  width: 800px; /* Larghezza desiderata */
    height: 600px; /* Altezza desiderata */
    margin: 0 auto;

}

.h1pg3{
  text-align: center;
  font-size: 60px;
}

.h2pg3{
  text-align: center;
  font-weight: lighter;
}

/* PAGINA 5 */

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}