body {
    color: white;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.65;
    margin-left: 170px;

}
section p,
ul,
li,
li b,
label,
input[type="text"] {
font-family: 'Inter', sans-serif;
}

header img{
    width: 20em;
}

header{
    margin-top: 80px;
    margin-bottom: 180px;

}


h1{
    
    line-height: 1;
    font-size: 8em;
}

h1 span{
    font-weight: 500;
}

h3{
    font-size: 4em;
    color: #d20094;
    margin-bottom: 0;
}

#paragrafo1{
    width: 55%;
}

p{
    font-size: 1.5em;
}

ul li{
    font-size: 1.3em;
}